<!DOCTYPE html>
<html lang="en">
<head>
	<title>Watch</title>
</head>
<body ng-app="myApp" ng-controller="myController">
	<form action="#">
	Password:<input type="password" ng-model="password">
	Password2:<input type="password" ng-model="password2">
	<p ng-show="errorPassword">Error.No cumple el minimo de caracteres</p>
	<p ng-show="errorPassword2">Error.Las passwords no coinciden</p>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="myApp.js"></script>
	<script src="myController.js"></script>
</body>
</html>