<!--Directiva ng-app para indicarle a AngularJS que debe ejecutarse sobre este documento-->
<html data-ng-app>

<head>
	<title>Hola AngularJS</title>
	<meta charset="utf-8" />
</head>

<body class="container-fluid">
	<header>
		<h1>Hola Mundo AngularJS</h1>
	</header>
	<section>
		<div>
			<span>¿Cómo te llamas? : </span>
			<input data-ng-model="tuNombre">
			<!--Directiva ng-model para enlazar la vista con una propiedad del modelo-->
		</div>
		<br/>
		<!--Interpolación en el contenido de una expresión {{entre llaves}} que usa una propiedadad del modelo-->
		<div class="text-info">Hola {{ tuNombre }}, bienvenido al mundo de AngularJS !!!</div>
		<!--Multiples Directivas ng-model para enlazar la vista con una o varias propiedades del modelo-->
		<input data-ng-model="numero1" placeholder="número 1">
		<input data-ng-model="numero2" placeholder="número 2">
		<input data-ng-model="numero2" placeholder="número 2">
		<h2>numero1 * numero2 es {{ numero1 * numero2}} </h2>
	</section>
	<!-- Enlace al CDN de Google para descargar una versión minimizada de AngularJS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>

</html>
